html,
body {
  font-size: 18px;

  height: 100%;
  margin: 0;
}
.error{
  width: 80%;
  margin: 0.67em auto;
  text-align: center;
}
.page {
  display: grid;

  height: 100%;

  grid-template-areas: 'header'
  'content'
  'footer';
  grid-template-rows: 80px 1fr 110px;

  @media screen and (max-width: $md) {
    grid-template-rows: auto 1fr auto;
  }

  #header {
    grid-area: header;
  }

  #content {
    grid-area: content;
  }

  #footer {
    grid-area: footer;
  }
}

