// in body class
.popup-active {
  overflow: hidden;

  .popup-tips {
    display: flex;

    align-items: center;
    justify-content: center;
    &::before {
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background-color: rgba(#000000, 0.7);
    }
  }

  .popup-tips-content {
    z-index: 4;

    overflow: scroll;

    width: 70vh;
    height: 70vh;

    background-color: #ffffff;

    .card-tips {
      box-shadow: none;
    }
  }
}
