#tips-day {
  margin-top: $section-margin;

  .tips-day {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 5px 0;

    justify-content: space-between;
  }
  .tips-day__title {
    font-family: $title;
    font-size: 2em;
    font-weight: 500;

    margin: 0;

    color: $limeade;
  }

  .tips-day__resume {
    font-size: 0.9em;

    position: relative;

    &::before {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 30px;

      content: '';

      background: linear-gradient(to bottom, rgba(#ffffff, 0.05) 0%, rgba(#ffffff, 0.5) 70%, rgba(#ffffff, 1) 100%);
    }
  }

  .tips-day__image {
    img {
      width: 100%;
      height: 400px;

      background-color: #fafafa;

      object-fit: cover;
    }
  }

  .tips-day-bottom {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .tips-day-bottom__more {
    padding: 15px 20px;

    text-transform: uppercase;
  }

  .tips-day-bottom-like {
    a{
      display: flex;
      align-items: center;
    }
    font-family: $title;
    font-weight: 500;

    display: flex;

    align-items: center;

    img {
      width: 20px;
      margin-left: 10px;
    }
  }
}
