.tips {
  #filters {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100vh - 180px);
    padding-left: 50px;

    box-shadow: 0 0 5px #000000;
    .filters__title {
      font-family: $title;
      font-weight: 500;

      color: $limeade;

      fpnt-size: 1.1em;
    }

    .filters-type__title {
      font-weight: 500;

      margin-top: 30px;
    }


    .filters-popular-item {
      display: flex;

      margin-top: 10px;

      align-items: center;

      label {
        font-size: 0.9em;

        margin-left: 10px;
      }
      input[type=radio] {
        width: 15px;
        height: 15px;

        border-radius: 100%;
        background-color: $white;
        box-shadow: 0 0 3px $black;

        appearance: none;
        &:checked {
          background-color: $limeade;
        }
      }
    }

    .filters-cat-item {
      display: flex;

      margin-top: 10px;

      align-items: center;

      label {
        font-size: 0.9em;

        margin-left: 10px;
      }
      input[type=checkbox] {
        width: 15px;
        height: 15px;

        background-color: $white;
        box-shadow: 0 0 3px $black;

        appearance: none;
        &:checked {
          background-color: $limeade;
        }
      }
    }
  }

  .cards {
    margin-top: $section-margin;
  }
  .card-tips {
    padding: 20px;

    box-shadow: 0 1px 4px $black;

    .card-tips-top {
      display: flex;

      align-items: center;
      justify-content: space-between;
    }

    .card-tips-top__title {
      font-family: $title;
      font-size: 1.2em;
      font-weight: 500;

      margin-top: 20px;
    }

    .card-tips-top-more {
      display: flex;
      span {
        width: 5px;
        height: 5px;

        border-radius: 100%;
        background-color: $limeade;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }

    .card-tips__resume {
      font-size: 0.8em;

      position: relative;

      &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 20px;

        content: '';

        background: linear-gradient(to bottom, rgba(#ffffff, 0.05) 0%, rgba(#ffffff, 0.7) 50%, rgba(#ffffff, 1) 100%);
      }
    }

    .card-tips__image {
      width: 100%;
      height: 200px;

      background-color: #fafafa;

      object-fit: cover;
    }
  }
}

.popup-tips {
  display: none;
}

// in body class
.popup-active {
  overflow: hidden;

  .popup-tips {
    display: flex;

    align-items: center;
    justify-content: center;
    &::before {
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background-color: rgba(#000000, 0.7);
    }
  }

  .popup-tips-content {
    z-index: 4;

    overflow: scroll;

    width: 70vh;
    height: 70vh;

    background-color: #ffffff;

    .card-tips {
      box-shadow: none;
    }
  }
}
